@model CategoryListModel
@{
    ViewData["Title"] = "CategoryList";
}

<h1>Admin Categories</h1>
<hr />


@if (Model.Categories.Count() > 0) @*Direk tabloyu yazmak yerine modelin icinde products var mı diye kontrol eden if yapısı*@
{
    // render categories
    <table class="table table-bordered">
        <thead>
            <tr>
                <td><strong>ID</strong></td>
                <td><strong>Name</strong></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Categories)  @*Model icerisinden gelen bilgilerle dolduruluyor*@
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-primary btn-sm mr-2" href="/admin/editcategory/@item.Id">Edit</a>
                        <form asp-controller="admin" asp-action="deletecategory" type="submit" style="display: inline;">
                            <input type="hidden" name="categoryId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger btn-sm" value="">Delete</button>
                        </form>

                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-warning">
        @*uyarı*@
        <h4>No Products</h4>
    </div>
}