@model CategoryModel
@{
    ViewData["Title"] = "EditCategory";
}
<h1>Edit Category</h1>
<hr />

<div class="row">
    <div class="col-md-8">
        @*Product taki alanlarla alakalı kısımları doldurduk ve  bu kısım admincontrol daki producta gidiyor.*@

        <form asp-controller="Admin" asp-action="EditCategory" type="submit" method="post">
            @*Action yazmak yerine TagHelper'ları kullandık.*@
            <input type="hidden" name="categoryId" value="@Model.Id" />  @*urun Id bilgisini aldık*@
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" value="@Model.Name" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" value="Save" class="btn btn-primary">Save Category</button>
                </div>
            </div>


        </form>
    </div>
</div>